.userBox {
  width: 85%;
  margin: auto;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteBtn {
  width: 45px;
  height: 45px;
  margin: 8px;
  padding: 7px;
}
.name {
  width: 25%;
}
.images {
  margin: 6px;
  padding: 4px;
}
.add {
  margin-left: 200px;
}
.inputgroup {
  background-color: #343a40;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inputbox {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
}
.form-control {
  margin: 20px;
  padding: 4px;
}
